.separator {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 205px;
  transform: translateY(1px);
  z-index: 3;
  pointer-events: none;
}

.separator svg {
  position: absolute;
  left: -5%;
  right: -5%;
  bottom: 0;
  width: 110%;
  fill: cadetblue;
}

.bikeEmoji {
  font-size: 3.5em;
  animation: flip 10s infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }

  17% {
    transform: rotateY(0);
  }

  18% {
    transform: rotateY(180deg);
  }

  67% {
    transform: rotateY(180deg);
  }

  68% {
    transform: rotateY(0);
  }
}